*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
kcef-bundle
composeApp/cache/
.kotlin
.env.default
play-console-credentials.json
mac-api-key.json
Gridline.app.dSYM.zip
Gridline.ipa
fastlane/report.xml
composeApp/release.jks